<div class="container">
  <div class="row">
    <div class="col">
      <h1>Detalle del Carrito</h1>
      <hr />
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">Productos en el Carrito</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            {{#if cart.cartItems.length}}
              <ul class="list-group">
                {{#each cart.cartItems}}
                  <li class="list-group-item">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <span>Producto ID: {{this._id._id}}</span>
                      <span>Cantidad: {{this.quantity}}</span>
                      <span>Nombre: {{this._id.name}}</span>
                      <!-- Mostrar el precio total por producto -->
                      <span>Precio Total: ${{formatPrices
                          (multiply this._id.price this.quantity)
                        }}</span>
                    </div>
                  </li>
                {{/each}}
              </ul>
            {{else}}
              <li class="list-group-item">El carrito está vacío</li>
            {{/if}}
          </ul>
        </div>
        <div class="card-footer">
          <!-- Calcular y mostrar el total del carrito -->
          <small class="text-muted">Total del carrito: ${{formatPrices
              total
            }}</small>
        </div>
        <div class="card-footer">
          <small class="text-muted">ID del carrito: {{cart._id}}</small>
        </div>
      </div>
      <a href="/checkout" class="btn btn-primary">Proceder al Pago</a>
    </div>
  </div>
</div>