<div class="container">
  <div class="row">
    <div class="col">
      <h1>Detalle del Carrito</h1>
      <hr />
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">Productos en el Carrito</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio Total</th>
                  <th scope="col" class="text-center">Cantidad</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <!-- Columna para los botones -->
                </tr>
              </thead>
              <tbody>
                {{#each cart.cartItems}}
                  <tr>
                    <td>{{this._id._id}}</td>
                    <td>{{this._id.name}}</td>
                    <td>${{formatPrices
                        (multiply this._id.price this.quantity)
                      }}</td>
                    <!-- Control de número con flechas integradas para ajustar la cantidad -->
                    <form
                      action="/cart/update-quantity/{{this._id._id}}"
                      method="POST"
                      class="update-quantity-form"
                    >
                      <td>
                        <label
                          class="sr-only text-center"
                          for="quantity{{this._id._id}}"
                        ></label>
                        <input
                          type="number"
                          class="form-control formCart mb-2 text-center"
                          id="quantity{{this._id._id}}"
                          name="quantity"
                          value="{{this.quantity}}"
                          min="1"
                        />
                      </td>
                      <td>

                        <button
                          type="submit"
                          class="btn btn-outline-secondary btn-sm"
                        >Actualizar Cantidad</button>
                      </td>

                    </form>

                    <td>
                      <!-- Botón para eliminar el producto -->
                      <form
                        action="/cart/remove-product/{{this._id._id}}"
                        method="POST"
                      >
                        <button
                          type="submit"
                          class="btn btn-danger btn-sm"
                        >Eliminar</button>
                      </form>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <!-- Calcular y mostrar el total del carrito -->
          <small class="h5 text-muted">Total del carrito: ${{formatPrices
              total
            }}</small>
        </div>
        <div class="card-footer">
          <small class="text-muted">ID del carrito: {{cart._id}}</small>
        </div>
      </div>
      <a href="/checkout" class="btn btn-primary">Proceder al Pago</a>
    </div>
  </div>
</div>